@{
    ViewBag.Title = "聚焦搜索引擎——Eworm";
}
<link href="@Url.Content("~/Content/Layout.css")" rel="Stylesheet" type="text/css" />
@model IEnumerable<EWorm.Model.Goods>
<html>
<head>
<title>EWORM</title>
</head>
<body>
<div id="main">
    <div id="top">
        <div id="big-title">
            EWORM
        </div>
    </div>
    <div id="search-bar">
        <div class="search-form">
            @using (Html.BeginForm("Search", "Home"))
            {
                @Html.TextBox("keyword","",new {style="width:444px;" ,maxlength="100"})
                <input type="submit" value="搜索" class = "btn-out" onmouseover="this.className='btn-out btn-over'" onmouseout="this.className='btn-out'" onmousedown="this.className='btn-out btn-down'"  value="FormCollection"/>
            }
        </div>
    </div>
    <div id="sections">

        @foreach (var item in Model)
        {
            <div class="section">
                <div class="result-image-top">
                    <img src="@Url.Content("~/Content/Goods/" + item.ImagePath)" width=100% />
                </div>
                <a class="result-title" href="@item.SellingUrl" target="_blank">@item.Title</a><br />
                <span class="result-text">价格：￥<strong style="color:red">@item.Price</strong></span><br />
                <div class="more-link">
                    @Html.ActionLink("更多信息", "detail", new { id = @item.Id })
                </div>
            </div>
        }
    </div>
</div>
</body>
</html>